@import url("https://fonts.googleapis.com/css?family=Nova+Square");

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
}

#particles-js {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important; /* auto */
  left: 0;
  top: 0;
  z-index: 0 !important;
}
main {
  display: flex;
  align-content: center;
  justify-content: center;
}
header {
  display: none;
}
footer {
  display: none;
}

#bio {
  z-index: 30;
  width: 50vw;
  margin: auto auto;
  font-family: "Nova Square", cursive;
  transform-origin: right top;
  transform: rotate(-2.5deg);
}
p {
  display: inline-block;
  margin: 10px 0;
}

.underlined {
  color: black;
  flex: 1;
  font-size: 2em;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
}
.underlined .offset {
  background-position: 0 0.2em;
  box-shadow: inset 0 -.5em 0 0 white;
}
.offset:hover {
  background-size: 100% 100%;
}
